</head>
<body>
  <header>
    <nav>
      <h1><a href="/">NodeCart</a></h1>
      <ul class="nav-links">
        <li
          class="nav-link-item <%= path === '/products' ? 'active' : '' %>"
        >
          <a href="/products">Products</a>
        </li>
        <li class="nav-link-item <%= path === '/cart' ? 'active' : '' %>">
          <a href="/cart">Cart</a>
        </li>
        <li
          class="nav-link-item <%= path === '/add-product' ? 'active' : '' %>"
        >
          <a href="/add-product">Add Product</a>
        </li>
        <li class="nav-link-item <%= path === '/orders' ? 'active' : '' %>">
          <a href="/orders">Orders</a>
        </li>
      </ul>
    </nav>
  </header>

