<div class="product">
    <div class="image">
       <img src="<%=product.image%>"/>
    </div>
     <span class="name">
         <%=product.name %>
     </span>
   <span class="price">
      <%=product.price%>
   </span>
   <div class="buttons">
  <button class="addButton">Add to cart</button>
   <button class="detailsButton">View details</button>
   </div>
 
</div>