<%-include('partials/head')%>
<div class="container">
  <form method="POST" action="/admin/add-product">
    <div class="formGroup">
      <label for="title">Name</label>
      <input
        type="text"
        name="name"
        placeholder="Enter name"
        id="name"
        required
      />
    </div>
    <div class="formGroup">
      <label for="title">Description</label>
      <input
        type="text"
        name="description"
        placeholder="Enter description"
        required
      />
    </div>
    <div class="formGroup">
      <label for="image">Image Url</label>
      <input
        type="text"
        name="image"
        id="image"
        placeholder="Enter image url"
        required
      />
    </div>
    <div class="formGroup">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Enter price "
        required
      />
    </div>
    <button type="submit">Add Product</button>
  </form>
</div>
<%-include('partials/end')%>
