<%-include('partials/head')%> <% if (products.length===0) { %>
<h1>No products found...</h1>

<% }else { %>
<div class="products">
  <% products.forEach(product => { %> <%-include('partials/product',{product})%>
  <% }) %>
</div>
<% } %> <%-include('partials/end')%>
