<%-include('partials/head')%> <% if (products.length===0) { %>
<h1>No products found...</h1>

 <% }else { %> 
    <% products.forEach(product => { %>
        <h3><%=product.name%></h3>
     <% }) %> 
<% } %>
<%-include('partials/end')%>
