.products {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  border-radius: 10px;
  width: 250px;
  padding: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.product .image {
  height: 200px;
  margin-bottom: 16px;
}

.product .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.price {
  color: #008ecc;
  font-size: 20px;
}

.actualPrice {
  text-decoration: line-through;
  margin-left: 6px;
}

.buttons {
  margin-top: 8px;
  display: flex;
  gap: 6px;
}

.buttons button {
  cursor: pointer;
}

.addButton {
  background-color: white;
  padding: 8px 14px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

.detailsButton {
  background-color: white;
  padding: 8px 14px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
form {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.rating {
  margin-top: 6px;
  color: var(--tertiary-color);
}
